<h1>Página para iniciar sesión</h1>

<form action="/api/sessions/login" method="post">

    <input type="email" placeholder="correo electrónico" name="email" id="emailFieldLogin">
    <br></br>
    <input type="password" placeholder="contraseña" name="password">
    <br></br>
    <button type="submit" id="btn_login">iniciar Sesión</button>
</form>

<br></br>

<a href="api/sessions/github">
        <button>
            Inicia Sesión con Github
        </button>
</a>

<script src="js/login.js"></script>